@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "支付宝支付接口列表";
}
<h3>我们为您提供以下支付宝支付接口：</h3>
<ol class="round">
    <li class="one">
        <h5>在线支付</h5>
        <a href="/Doc/OnlinePay" target="_blank">查看文档...</a>
    </li>
    <li class="two">
        <h5>条码支付</h5>
        <a href="/Doc/BarcodePay" target="_blank">查看文档...</a>
    </li>
</ol>
<a href="javascript:;" onclick="history.go(-1);">返回上一页</a>