@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "通联支付接口列表";
}
<h3>我们为您提供以下通联支付接口：</h3>
<ol class="round">
    <li class="one">
        <h5>在线支付</h5>
        <a href="/Doc/OnlinePay" target="_blank">查看文档...</a>
    </li>
    <li class="two">
        <h5>POS机支付</h5>
        <a href="/Doc/NotSupport/通联POS机支付" target="_blank">查看文档...</a>
    </li>
    <li class="three">
        <h5>申请退款</h5>
        <a href="/Doc/SyncRefund" target="_blank">查看文档...</a>
    </li>
</ol>
<a href="javascript:;" onclick="history.go(-1);">返回上一页</a>