@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "世纪购 - 支付接口列表";
}
<h3>我们为您提供以下支付方式：</h3>
<ol class="round">
    <li class="one">
        <h5>支付宝支付</h5>
        <a href="/Doc/Alipay" target="_blank">查看文档...</a>
    </li>
    <li class="two">
        <h5>微信支付</h5>
        <a href="/Doc/WeChatPay" target="_blank">查看文档...</a>
    </li>
    <li class="three">
        <h5>通联支付</h5>
        <a href="/Doc/Allinpay" target="_blank">查看文档...</a>
    </li>
</ol>
<h3>其他说明文档：</h3>
<ol class="round">
    <li class="one">
        <h5>签名算法</h5>
        <a href="/Doc/SignDescription" target="_blank">查看文档...</a>
    </li>
</ol>
<h3>辅助功能：</h3>
<ol class="round">
    <li class="one">
        <h5>支付测试</h5>
        <a href="/Test/Index" target="_blank">点击测试...</a>
    </li>
    <li class="two">
        <h5>支付回执通知</h5>
        <a href="/ReissueNotify/Index" target="_blank">点击查看...</a>
    </li>
</ol>
