@{
    Layout = "~/Views/Shared/_LayoutDocument.cshtml";
    ViewBag.Title = "威富通支付接口列表";
}
<h3>我们为您提供以下威富通支付接口：</h3>
<ol class="round">
    <li class="one">
        <h5>微信在线支付</h5>
        <a href="/Doc/OnlinePay" target="_blank">查看文档...</a>
    </li>
    <li class="three">
        <h5>申请退款</h5>
        <a href="/Doc/SyncRefund" target="_blank">查看文档...</a>
    </li>
</ol>
<a href="javascript:;" onclick="history.go(-1);">返回上一页</a>
