@{
    Layout = "~/Views/Shared/_LayoutPay.cshtml";
    ViewBag.Title = "支付测试";
    string orderId = "paytest" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string paymentAmt = "0.01";
}
<style type="text/css">
    a {
        text-decoration: none;
    }
</style>
<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function wechatbarcodepay() {
        var wechatbarcodepayUrl = "/test/wechatbarcodepay?orderId=@(orderId)&paymentAmt=@(paymentAmt)&barcode=";
        var barcode = $("#barcode").val();
        if ($.trim(barcode).length == 0)
            alert("请输入条形码");
        else
            window.open(wechatbarcodepayUrl + barcode);
    }

    function wechatrefund() {
        var appId = $("#appId").val()
        var appSecret = $("#appSecret").val();
        var orderId = $("#orderId").val();
        if ($.trim(appId).length == 0)
            alert("请输入appId");
        else if ($.trim(appSecret).length == 0)
            alert("请输入appSecret");
        else if ($.trim(orderId).length == 0)
            alert("请输入订单号");
        else
            window.open("/test/wechatpayrefund?appId=" + appId + "&appSecret=" + appSecret + "&orderId=" + orderId);
    }

    function allinpayrefund() {
        var appId = $("#appId").val()
        var appSecret = $("#appSecret").val();
        var orderId = $("#orderId").val();
        if ($.trim(appId).length == 0)
            alert("请输入appId");
        else if ($.trim(appSecret).length == 0)
            alert("请输入appSecret");
        else if ($.trim(orderId).length == 0)
            alert("请输入订单号");
        else
            window.open("/test/allinpayrefund?appId=" + appId + "&appSecret=" + appSecret + "&orderId=" + orderId);
    }
</script>
订单编号：@orderId
<br />
<br />
<a href="/test/alipay?orderId=@(orderId)&paymentAmt=@(paymentAmt)" target="_blank">支付宝 支付测试</a>
<br />
<br />
<a href="/test/wechatpay?orderId=@(orderId)&paymentAmt=@(paymentAmt)" target="_blank">微信支付 支付测试</a>
<br />
<br />
<a href="/test/Allinpay?orderId=@(orderId)&paymentAmt=@(paymentAmt)" target="_blank">通联支付 支付测试</a>
<br />
<br />
<a href="/test/SwiftPassWeChatPay?orderId=@(orderId)&paymentAmt=@(paymentAmt)" target="_blank">威富通微信 支付测试</a>
<br />
<br />
<br />
条形码：<input type="text" id="barcode" autocomplete="off" style="width:300px;" />
<br />
<br />
<a href="javascript:;" onclick="wechatbarcodepay()">微信条码支付 支付测试</a>
<br />
<br />
<hr />
<br />
appId ：<input type="text" id="appId" style="margin-left: 33px; width: 250px;" />
<br />
<br />
appSecret ：<input type="text" id="appSecret" style="width: 250px;" />
<br />
<br />
订单编号：<input type="text" id="orderId" autocomplete="off" style="margin-left: 18px; width: 250px;" />
<br />
<br />
<a href="javascript:;" onclick="wechatrefund()">微信支付 退款测试</a>
<br />
<br />
<a href="javascript:;" onclick="allinpayrefund()">通联支付 退款测试</a>