<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--本站点域名-->
  <Domain>pay.sjgo365.com</Domain>
  <!--本站点网站名称-->
  <WebSiteName>世纪购</WebSiteName>
  <!--是否是模拟支付模式 true.是 false.否-->
  <IsSimulateMode>false</IsSimulateMode>
  <!--是否是测试模式 true.是 false.否-->
  <IsTestMode>true</IsTestMode>
  <!--测试专用的AppId-->
  <TestAppId>testapp</TestAppId>
  <!--接口文档专用的AppId-->
  <DocumentAppId>test_app_id</DocumentAppId>
  <!--接口文档专用的AppSecret-->
  <DocumentAppSecret>C4DDF940-0E1D-4CAC-AD38-883B930D5170</DocumentAppSecret>

  <!--**************************支付宝配置 开始**************************-->
  <!--合作者身份ID-->
  <AlipayPartner>2088311592776328</AlipayPartner>
  <!--合作者身份ID-->
  <AlipaySellerEmail>50529767@qq.com</AlipaySellerEmail>
  <!--支付宝支付密钥-->
  <AlipayKey>he4fabvzpw74cd4fbiajxu8cahsi12mc</AlipayKey>
  <!--**************************支付宝配置 结束**************************-->

  <!--**************************微信支付配置 开始**************************-->
  <!--微信AppID-->
  <WeChatAppID>wx6043cc70250ccb00</WeChatAppID>
  <!--微信AppSecret-->
  <WeChatAppSecret>9ae0bbfaa86d1ab81842a41032685933</WeChatAppSecret>
  <!--微信商户号-->
  <WeChatMchID>1264062801</WeChatMchID>
  <!--微信商户支付密钥-->
  <WeChatPayKey>shuishen198311039138liuhang22222</WeChatPayKey>
  <!--微信支付证书路径（应用程序下的相对路径）-->
  <WeChatPaySSLCertPath>cert\WeChatPay\apiclient_cert.p12</WeChatPaySSLCertPath>
  <!--微信支付证书密钥-->
  <WeChatPaySSLCertPassword>1264062801</WeChatPaySSLCertPassword>
  <!--**************************微信支付配置 结束**************************-->

  <!--**************************通联支付配置 开始**************************-->
  <!--通联商户号-->
  <AllinpayMerchantId>109310231410002</AllinpayMerchantId>
  <!--电商企业代码（10位海关代码）-->
  <AllinpayEshopEntCode>50052602BE</AllinpayEshopEntCode>
  <!--电商企业名称（企业备案的企业全称）-->
  <AllinpayEshopEntName>重庆商社电子商务有限公司</AllinpayEshopEntName>
  <!--通联支付加密密钥-->
  <AllinpayKey>Sjgo365lh</AllinpayKey>
  <!--通联支付服务器网关地址-->
  <AllinpayServerUrl>https://service.allinpay.com/gateway/index.do</AllinpayServerUrl>
  <!--通联WAP支付服务器网关地址-->
  <AllinpayWapServerUrl>http://service.allinpay.com/mobilepayment/mobile/SaveMchtOrderServlet.action</AllinpayWapServerUrl>
  <!--通联退款服务器网关地址-->
  <AllinpayRefundServerUrl>https://service.allinpay.com/gateway/index.do</AllinpayRefundServerUrl>
  <!--通联支付证书路径（应用程序下的相对路径）-->
  <AllinpaySSLCertPath>cert\Allinpay\TLCert.cer</AllinpaySSLCertPath>
  <!--**************************通联支付配置 结束**************************-->

  <!--**************************威富通支付配置 开始**************************-->
  <!--威富通商户号-->
  <SwiftPassMchID>102570544367</SwiftPassMchID>
  <!--威富通商户密钥-->
  <SwiftPassKey>2b8d809caa2f8c82cca3faae3eb4324e</SwiftPassKey>
  <!--威富通接口版本号-->
  <SwiftPassVersion>2.0</SwiftPassVersion>
  <!--威富通服务器网关地址-->
  <SwiftPassServerUrl>https://pay.swiftpass.cn/pay/gateway</SwiftPassServerUrl>
  <!--**************************威富通支付配置 结束**************************-->
</configuration>
